In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

df = pd.read_csv("AB_Test_Results.csv")
df.head()

   USER_ID VARIANT_NAME  REVENUE
0      737      variant      0.0
1     2423      control      0.0
2     9411      control      0.0
3     7311      control      0.0
4     6174      variant      0.0

In [3]:
# Add a conversion flag
df['converted'] = df['REVENUE'] > 0

# Summary: conversion rate and average revenue by group
summary = df.groupby('VARIANT_NAME').agg(
    conversion_rate=('converted', 'mean'),
    average_revenue=('REVENUE', 'mean'),
    sample_size=('USER_ID', 'count')
).reset_index()
# Display summary
print(summary)

  VARIANT_NAME  conversion_rate  average_revenue  sample_size
0      control         0.016051         0.129013         4984
1      variant         0.014354         0.070070         5016